/***************
 * Mate-Panel *
 ***************/

$panel: #3db0f6;
$panel_fg: #ffffff;
$panel_bg: mix(rgba(0,0,0,0.3), $panel, 80%);
$panel_border: darken($panel_bg, 90%);
$panel_hc: transparentize($panel_fg, 0.7);
$panel_bg_button: mix(rgba(0,0,0,0.3), $panel, 80%);
$panel_menubar_hover: #000000;


PanelToplevel > *:not(menu):not(menuitem):not(button):not(menubar) {
	border-style: solid;
	border-top-color: $panel_border;
    border-top-width: 1px;
    box-shadow: inset 0 1px $panel_hc,
                inset 0 -1px $panel_hc,
                inset 1px 0 transparentize($panel_fg, 1.0),
                inset -1px 0px transparentize($panel_fg, 1.0);
}

/* first make all transparent */
.mate-panel-menu-bar,
.mate-panel-menu-bar menubar,
.mate-panel-menu-bar menuitem,
#PanelPlug,
#PanelApplet button,
PanelToplevel.background,
#PanelApplet-window-menu-applet-button {
    background-color: transparent;
    background-image: none;
    background-color: transparent;
}

.mate-panel-menu-bar menubar:not(menu) > menuitem {
	color: $panel_fg;
}

.mate-panel-menu-bar menubar:not(menu) > menuitem:hover {
	color: $panel_menubar_hover;
}


/* let's start it */
#PanelPlug,
.mate-panel-menu-bar,
PanelToplevel.background {
    background-color: $panel_bg;
    background-image: none;
    /* normal panel */
    /* transparent panel */
/*    color: @theme_selected_fg_color; */
    text-shadow: none;
    box-shadow: inset 0 1px $panel_hc,
                inset 0 -1px $panel_hc,
                inset 1px 0 transparentize($panel_fg, 1.0),
                inset -1px 0px transparentize($panel_fg, 1.0);
}

#PanelApplet {
    border-width: 1px;
  border-style: solid;
}

PanelSeparator {
    border-width: 0;
    background-image: none;
    text-shadow: none;
}

/* all applets */
.mate-panel-menu-bar #PanelApplet button {
    &,
    &.flat,
    &.toggle,
    &.flat.toggle {
    background-image: linear-gradient(to bottom, 
                    $panel_bg_button, 
                    darken($panel_bg_button, 10%) 50%, 
                    darken($panel_bg_button, 30%));
    
    border-radius: 2px;
    border-width: 1px;
    box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;
    }

    &:checked,
    &:checked:hover,
    &:hover:active,
    &.flat:checked,
    &.flat:hover:active,
    &.toggle:checked,
    &.toggle:checked:hover,
    &.toggle:hover:active,
    &.flat.toggle:checked,
    &.flat.toggle:checked:hover,
    &.flat.toggle:hover:active {

    background-image: linear-gradient(to bottom, 
                    darken($panel_bg_button, 20%) , 
                    darken($panel_bg_button, 30%) 50%, 
                    darken($panel_bg_button, 60%));
    
    border-radius: 0;
    border-width: 1px;
    box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;
    }


    &:hover,
    &.flat:hover,
    &.toggle:hover,
    &.flat.toggle:hover {
    background-image: linear-gradient(to bottom, 
                    lighten($panel_bg_button, 20%) , 
                    lighten($panel_bg_button, 30%) 50%, 
                    lighten($panel_bg_button, 60%));
    border-radius: 0;
    border-width: 1px;
    box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;

    } 
}


/* Classic icon style */
.mate-panel-menu-bar {
    -PanelMenuBar-icon-visible: true;
}

na-tray-applet {
    background-image: none;
    background-color: transparent;
    padding: 0;
    text-shadow: none;
    -NaTrayApplet-icon-padding: 3;
    -NaTrayApplet-icon-size: 16;
}

/* clock-applet */
.mate-panel-menu-bar #PanelApplet #clock-applet-button.flat.toggle {
 &,&:hover {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: none;
}

&:checked,
&:checked:hover {
    background-image: linear-gradient(to bottom, 
                    darken($panel_bg_button, 20%) , 
                    darken($panel_bg_button, 30%) 50%, 
                    darken($panel_bg_button, 60%));
    
    border-radius: 0;
    border-width: 1px;
    box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;
}
}

/* volume applet, brightness applet */
.mate-panel-applet-slider {
    background: transparent;
& .frame {
    /*background-color: @theme_bg_color;*/
    border-image: none;
    border-style: solid;
    border-radius:2px;
    padding: 0px;
    margin: 0px;
    }

& .frame .frame{
    background-color:transparent;
    border-style: none;
    }

& .frame .button {
    color: $panel_fg;
   }

}

